.main-bg{
    height: 500px;
    background-image: url('./img/bg2.png');
    background-size: cover;
    background-position: center;
}
.container-fluid{
    text-align: center;
}
.row img{
    width: 50%;
}

.start{
    opacity: 0;
}
.end{
    opacity: 1;
    transition: opacity 0.5s;
}